:root {
    --theme-color: #ef8c37;
    --sidebar-color: #283965e6;
    --secondary-theme-color: #39c5f8;
    --light-theme-color: #D7342825;
    --text-color: #1e1e20;
    --white-color: #fff;
    --primary-color: #45a7e7;
    --success-color: #67be4e;
    --danger-color: #e9493f;
    --warning-color: #ffc825;
    --info-color: #a572ff;
    --border-color: #e0e0e0;
    --light-text-color: #a5a5a5;
    --thead-color: #e9ecef;
    --body-color: #F5F6F7;
}

.txt-white {
    color: var(--white-color) !important;
}

.txt-light {
    color: var(--light-text-color) !important;
}

.txt-secondary-theme {
    color: var(--secondary-theme-color) !important;
}

.txt-theme {
    color: var(--theme-color) !important;
}

.txt-danger {
    color: var(--danger-color) !important;
}